{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Home</a>
        <div class="navbar">
            <a href="http://127.0.0.1:8000/PortfolioDatabase/portfolio/" class="nav-item nav-link">Portfolio</a>
            <a href="http://127.0.0.1:8000/PortfolioDatabase/hobbies/" class="nav-item nav-link">Hobbies</a>
            <a href="http://127.0.0.1:8000/PortfolioDatabase/contact/" class="nav-item nav-link">Contact</a>
        </div>

    </nav>

    {% block body %}
        <h1>My name is Jesus Otteson</h1>
        <h2>I'm a student at weber state who likes to game, sleep, and play with my cats.</h2>
    {% endblock %}
</body>
</html>