body{
    background-color: azure;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.card {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}

.col-md-4 {
    padding: 25px;
}